# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
NEXT_PUBLIC_JWT_SECRET_KEY=ExUY9FtuNQ8dBvTkiqPpJP7yyZ1PITxjgjVhjz00X1Tr8ZEERWrt4SLCNnudfvids