/* change the font style of a single UI component */
.ag-theme-alpine input[class^='ag-'] {
  height: 25px !important;
}

.ag-theme-alpine .ag-header-cell-text {
  color: rgba(119, 67, 219, 1) !important;
}

.ag-theme-alpine .ag-root-wrapper {
  border-radius: 8px !important;
}

.ag-ltr .ag-header-cell-resize {
  background-color: #28543050 !important;
  width: 6px !important;
}

/* .ag-theme-alpine {
  --ag-background-color: rgba(243, 255, 229, 0.2);
} */

.ag-header-cell {
  background-color: #f1e9fd !important;
}

.ag-header-cell-resize:after {
  background-color: #285430 !important;
}

.ag-paging-panel {
  background-color: #f1e9fd !important;
}
