/* change the font style of a single UI component */
.ag-theme-alpine input[class^='ag-'] {
  height: 25px !important;
}

.ag-theme-alpine .ag-header-cell-text {
  color: rgba(119, 67, 219, 1) !important;
}

.ag-theme-alpine .ag-root-wrapper {
  border-radius: 0px !important;
}

.ag-theme-balham .ag-header-cell {
  color: black !important;
  font-weight: bold !important;
}

/* .ag-theme-alpine {
  --ag-background-color: rgba(243, 255, 229, 0.2);
} */

.ag-header-cell {
}

.ag-theme-balham .ag-tooltip {
  width: 250px !important; /* Set width */
  max-width: 250px !important;
  padding: 10px;
  border: 1px solid #d4d4d4; /* A subtle border, consistent with Balham's styling */
  border-radius: 3px; /* Slight rounding, but not too much */
  background-color: #ffffff; /* White background */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* A slight shadow for depth */
  font-size: 14px;
  color: #333; /* Darker text for better contrast */
  z-index: 1;
}

.ag-header-cell-resize:after {
  background-color: #285430 !important;
}

.ag-paging-panel {
  background-color: #f1e9fd !important;
}
