@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary: 97 75 195;
  --tw-color-secondary: 223 204 251;
  --tw-color-accent: 255 233 177;
  --tw-color-image: 239 239 239;
  --tw-color-border: 221 221 221;
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }
  body {
    scroll-behavior: smooth;
  }
  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 90.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  .instagram-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 0;
    border-radius: 30px;
    background: rgb(253, 29, 29);
    background: linear-gradient(
      45deg,
      rgba(128, 56, 176, 1) 0%,
      rgba(204, 51, 153, 1) 30%,
      rgba(255, 102, 102, 1) 60%,
      rgba(255, 119, 51, 1) 100%
    );
    color: white;
    font-size: 1em;
    font-weight: bold;
    transition: all 0.2s;
    cursor: pointer;
    text-decoration: none;
  }

  .instagram-btn:hover {
    opacity: 0.8;
  }

  .instagram-btn:active {
    opacity: 0.9;
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#000, #000);
    background-size: 0 30px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(
        rgba(119, 67, 219, 0.5),
        rgba(119, 67, 219, 0.5)
      ),
      linear-gradient(rgba(119, 67, 219, 0.5), rgba(119, 67, 219, 0.5));
  }

  .link-underline:hover {
    /* color: #fff; */
    background-size: 100% 30px;
    background-position: 0 100%;
  }

  .bg-gradient {
    /* 4 different light shades of purple from lighest to darker -> vertical stripes */
    background-image: linear-gradient(
      90deg,
      #f2e9ff 0%,
      #f2e9ff 25%,
      #ede4ff 25%,
      #ede4ff 50%,
      #e8dfff 50%,
      #e8dfff 75%,
      #e3daff 75%,
      #e3daff 100%
    );
  }

  .bg-linear {
    /* background gradient from purple to blue-500 */
    background-image: linear-gradient(
      90deg,
      rgba(119, 67, 219, 0.5) 0%,
      #0ea5e9 100%
    );
  }

  .control-arrow {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  .bg-linear-dark {
    /* background gradient from purple to blue-500 */
    background-image: linear-gradient(90deg, #2a2f4f 0%, #080202 100%);
  }

  .bg-linear-light {
    /* background gradient from purple to blue-500 */
    background-image: linear-gradient(90deg, lightblue 0%, white 100%);
  }
  .bg-linear-light-reverse {
    /* background gradient from purple to blue-500 */
    background-image: linear-gradient(90deg, white 0%, lightblue 100%);
  }

  input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  .list_link:after {
    content: '';
    position: absolute;
    z-index: 50;
    right: -11.5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 20.5px solid transparent;
    border-left: 12px solid rgba(119, 67, 219, 1);
    border-bottom: 20.5px solid transparent;
  }

  @keyframes moveIcon {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .four-sided-shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  }

  .sc-gEvEer {
    display: flex;
    align-items: center !important;
  }

  .custom-slider .rc-slider-rail {
    height: 5px;
    background: #ccc;
  }

  .custom-slider .rc-slider-track {
    height: 5px;
    background: #4caf50; /* Bright color for the track */
  }

  .custom-slider .rc-slider-handle {
    border: solid 2px #4caf50; /* Same color as the track */
    background: #fff;
  }

  .custom-slider .rc-slider-handle:hover {
    border-color: #66bb6a; /* Slightly different color on hover */
  }

  .custom-slider .rc-slider-handle:active {
    border-color: #66bb6a; /* Same as hover color */
  }

  .custom-slider .rc-slider-mark-text {
    fontsize: 16px;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
@keyframes pulse-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.9rem);
  }
}

.animated-icon {
  animation: pulse-reverse 3s infinite alternate 0s;
}

@keyframes pulse-reverse {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-0.9rem);
  }
}

.arrow_pulse {
  animation: pulse-right 2s infinite alternate 0s;
}

.arrow_pulse_reverse {
  animation: pulse-reverse 2s infinite alternate;
}

.bg_gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 240, 255, 1) 100%
  );
}
._gradient {
  background: rgb(254, 240, 255);
  background: radial-gradient(
    circle,
    rgba(254, 240, 255, 1) 10%,
    rgba(255, 255, 255, 1) 64%
  );
}
._gradient2 {
  background: rgb(254, 240, 255);
  background: linear-gradient(
    315deg,
    rgba(254, 240, 255, 1) 10%,
    rgba(255, 255, 255, 1) 51%
  );
}

.text_gradient {
  @apply from-primary  bg-gradient-to-r to-orange-500 bg-clip-text text-transparent;
}
.all_side_shadow {
  box-shadow: 0 0 50px rgb(230, 230, 230);
}
.all_side_shadow1 {
  box-shadow: 0 0 30px rgb(186, 186, 186);
}

.bg_orange_gradient {
  background: rgb(196, 153, 39);
  background: linear-gradient(
    103deg,
    rgba(196, 153, 39, 1) 0%,
    rgba(93, 0, 153, 1) 84%
  );
}
